
			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h5 class="txt-dark">form layout</h5>
						</div>
					
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
								<li><a href="index.html">Dashboard</a></li>
								<li><a href="#"><span>form</span></a></li>
								<li class="active"><span>form-layout</span></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					
					</div>
					<!-- /Title -->
					
				
				<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">Users Register</h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="row">
											<div class="col-sm-12 col-xs-12">
												<div class="form-wrap">
													<form [formGroup]="" novalidate>														<div class="form-body">
															<h6 class="txt-dark capitalize-font"><i class="zmdi zmdi-account mr-10"></i>Person's Info</h6>
															<hr class="light-grey-hr"/>
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">First Name</label>
																		<input type="text" class="form-control required" placeholder="first name" formControlName="first_name" #first_name >																	</div>
																	</div>
																
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Last Name</label>
																		<input type="text" class="form-control" placeholder="Last Name"formControlName="last_name" #last_name >
																	</div>
																</div>
																</div>							<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Email</label>
																		<input type="text" class="form-control" placeholder="Email" formControlName="email" #email >
																	</div>

																</div>
																<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">address</label>
																		<input type="text" class="form-control" placeholder="address" formControlName="address" #address >
																	</div>
																</div>
																<!--/span-->
															</div>
															<!-- /Row -->
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">State</label>
																		<input type="text" class="form-control" placeholder="state" formControlName="state" #state >
																	
																	</div>
																</div>			<!--/span-->
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Country</label>
																		<input type="text" class="form-control" placeholder="country"formControlName="country" #country >
																	
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Phone number</label>
																		<input type="text" class="form-control" placeholder="phone number" formControlName="phone_number" #phone_number >
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Password</label>
																		<input type="text" class="form-control" placeholder="password" formControlName="pass_word" #pass_word >
																	</div>
																</div>
																<div class="col-md-6">
																	<div class="form-group">
																		<label class="control-label mb-10">Confirm Password</label>
																		<input type="text" class="form-control" placeholder="confirm password" formControlName="confirm_password" #confirm_password >
																	</div>
																	</div>
																<!--/span-->
															</div>								</div>
															<!-- /Row -->
														<div class="form-actions mt-10">
															<button class="btn btn-success  mr-10"> update</button>
															<button type="button" class="btn btn-default">Cancel</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>		
						</div>
					</div>
					<!-- /Row -->
					
			
				
				</div>
				
			
			
			</div>
			<!-- /Main Content -->